<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/
    app.css') }}" /> 
</head>
<body>
    <h1>Alex Salmon</h1>
    <img src="calf.jpg" alt="Calf" style="width:150px">
    <p>I'm a passionate individual with a love for anime that fuels my creative side. 
        Inspired by the vibrant worlds and characters in anime, 
        I channel my creativity into songwriting whenever inspiration strikes. 
        Beyond the realm of imagination, I find joy in the digital realms of video games like Wizard101, 
        Brawl Stars, and Pokemon Go, where I embark on exciting adventures and engage in strategic battles. 
        In the real world, I am a computer science major, navigating the complexities of coding and technology, 
        merging my analytical skills with my imaginative pursuits. This diverse combination of interests reflects 
        my multifaceted personality, blending the artistic with the technical in a harmonious symphony of 
        passions.</p>
</body>
</html>